absl-py
annotated-types
anyio
astunparse
cachetools
certifi
charset-normalizer
click
colorama
fastapi
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
idna
imutils
keras
libclang
Markdown
MarkupSafe
numpy
oauthlib
opencv-python
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pydantic
pydantic_core
requests
requests-oauthlib
rsa
scipy
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
typing-extensions
urllib3
uvicorn
Werkzeug
wrapt
